:root {
    --main-scheme: #512b58;
    --secondary-scheme: #2a7886;
    --tertiary-scheme: #79bac1;
    --last-scheme: #fafaff;
}

.main-bg {
    background-color: var(--main-scheme);
}

.secondary-bg{
    background-color: var(--secondary-scheme);
}
.tertiary-bg{
    background-color: var(--tertiary-scheme);
}
.last-bg{
    background-color: var(--last-scheme);
}

.fa-color {
    color: var(--main-scheme)
}

body{
    background-color: var(--last-scheme);
    font-family: 'Merriweather';

}

.nav-link {
    color: var(--last-scheme);
}

#title{
    padding: 10% 10% 10%;
    background-color:;
}

.container-fluid{
    padding: 0%;
}

.main-title {
    font-family: 'Montserrat Subrayada'
}

.second-title {
    font-family: 'Montserrat Subrayada'
}

.profile-picture {
    height: 60%;
    width: 40%;
}


#introduction {
    margin: 0% 0%;
    padding: 0% 10%;
}

.section-header {
    border-bottom: 5px solid;
    padding: 0% 0% 1%;
    font-size: 2rem;
    font-weight: ;
    border-color: var(--main-scheme);
}

.box-layout {
    background-color: var(--last-scheme);
    border-radius: 25px;
    text-align: center;
    height: 30%;
    margin: 5px;
    border: groove 2px;
    border-color: var(--tertiary-scheme);
    transition: 1s;
}

.box-layout:hover {
    background-color: var(--secondary-scheme);

}



.skills-image{
    height: 8rem;
    width: 8rem;
    padding: 5% 0%;
}


#Skills {
    padding: 5% 10%;
}
.top-marginal{
    padding-top: 5%;
}
.box-content {
    padding: 5% 5% 10%;
}



#projects {
    padding: 5% 10%;
}

.box-layout-project {
    background-color: var(--last-scheme);
    border-radius: 10px;
    text-align: center;
    height: 40%;
    margin: 5px;
    border: groove 2px;
    border-color: var(--tertiary-scheme);
    padding: 1%;
}

.card-title {
    font-size: 1.2rem;
    font-weight: 600;
}

.project-images {
    height: 10rem;
    width: 15rem;
}

.modal-body  h6 {
    border-bottom: 2px solid;
    padding: 3% 0%;
    font-size:1rem;
}

.modal-image {
    width: 300px;
    height: 200px;
}

#modal-image .modal-dialog {
    width: auto;
    height: 100%;
    margin:0;
    padding: 0;
  }
  
  #modal-image .modal-content {
    height: auto;
    min-height: 100%;
    border-radius: 0;
  }

.modal-zoom {
    width: 100%;
    height: 100%;
}

#modal-image .modal-dialog {
    width: 100%;
}

.modal-body p {
    padding: 3% 0% 0%;
    text-align: justify;
}

.modal-body ul {
    padding-top: 3% ;
}


.project-content {
    font-family: 'Merriweather';
}

#miniProjects {
    padding: 5% 10%;
}

.btn-link {
    color: white;
}

#contact {
    padding: 2% 5%;
    background-color: #2a7886;
}

.contact-box {
    padding: 2%;
    border: aliceblue solid;
    border: ;
    border-radius: 25px ;
    background-color:var(--last-scheme);
    box-shadow: 5px 5px var(--main-scheme);
}
.contact-title {
    color: var(--main-scheme);
    font-size: 1.5rem;
    font-weight: 600;
    padding-bottom: 2%;
}

.contact-button {
    background-color: transparent;
    border: 2px solid;
    border-color: var(--secondary-scheme);
    color: var(--main-scheme);
    font-weight: 700;
    transition: 0,2s;
}

.contact-button:hover {
    background-color:var(--main-scheme);
    color: white;
}

.fixed-top {
    padding: 0% 5%;
}

#footer {
    background-color: var(--main-scheme);
    color: var(--last-scheme);
    padding: 2% 10% ;
}

#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  #myImg:hover {opacity: 0.7;}
  
  /* The Modal (background) */
  .modal-img {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 9999; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  

  /* Modal Content (Image) */
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  
  /* Caption of Modal Image (Image Text) - Same Width as the Image */
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  /* Add Animation - Zoom in the Modal */
  .modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
  }
  
  /* The Close Button */
  .close-img {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close-img:hover,
  .close-img:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }